* {
	box-sizing: border-box;
}

#title {
	color: white;
}

body {
	margin: 0;
	padding: 0;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: blue;
	padding: 1rem;
	font-size: 1.5rem;
	margin-bottom: 2rem;
}

.links ul {
	margin: 0;
	padding: 0;
	display: flex;
}

.links li {
	list-style: none;
	display: block;
	padding: 1rem;
	text-decoration: none;
}

.links {
	margin: 0;
	padding: 0;
	display: flex;
}

div#footer {
	position:fixed;
	bottom:0px;
	left:0px;
	width:100%;
	color:#CCC;
	background:#333;
	padding:8px;
}