<nav class="header container"></nav>
  <h2>Silly String</h2>
<div class="links row justify-content-start">
  <a href='@Url.Action("Index", "Home")'><button>Home</button></a>&emsp;
  <a href='@Url.Action("Index", "Engineers")'></a></button>Engineers</button></a>&emsp;
  <a href='@Url.Action("Index", "Machines")'><button>Machines</button></a>&emsp;
</div>
</nav>