<nav class="header">
<div id="title">Silly String</div>
<div class="links">
  <ul>
    <li>@Html.ActionLink("Home", "Index", "Home")</li>
    <li>@Html.ActionLink("Engineers", "Index", "Engineers")</li>
    <li>@Html.ActionLink("Machines", "Index", "Machines")</li>
  </ul>
</div>
</nav>


